<h2 class="text-2xl text-center text-light">Gestion de clientes:</h2>

<!-- Se carga '../partials/crear-cliente.ejs' para registrar un nuevo cliente -->
<%- include('../partials/crear-clientes') %>
<!-- Carga '../partials/listado-clientes.ejs' para ver el listado de clientes -->
<%- include('../partials/listado-clientes') %>