<!-- Prestamos del cliente -->
<!-- Se realiza filtro de los prestamos para mostrar solo los del cliente -->
<!-- Recorre el listado filitrado de los prestamos del cliente y retorna el item -->
<div class="flex flex-col">
  <% if (prestamos.length> 0) { %>
    <b>Ultimos prestamos activos del cliente:</b>
    <ul class="flex flex-col gap-2">
      <% prestamos.forEach(prestamo=> { %>
        <li class="flex justify-between items-center bg-gray-200 px-2 rounded-xs list-group-item text-primary-dark">
          <b>Titulo: <%= prestamo.libro.titulo %></b>
          <p>Fecha: <%= prestamo.fechaPrestamo %></p>
        </li>
        <% }) %>
    </ul>
    <% } else { %>
      <b class="text-primary-dark underline text-center w-full">No hay prestamos para este cliente</b>
      <% } %>
</div>