<!-- Crear usuario -->
<!-- Se envia una solicitud POST con los datos de
 idUsuario y nombre al servidor para registrar un nuevo usuario.
-->

<div class="Crear">
  <h2>Registrar Usuario:</h2>
  <form action="/usuarios" method="POST">
    <input type="text" name="idUsuario" placeholder="Codigo del usuario" required>
    <input type="text" name="nombre" placeholder="Nombre" required>
    <button type="submit">Registrar</button>
  </form>
</div>
