<!-- Crear prestamo -->
<!-- Se envia una solicitud POST donde de envian los datos
 de codigo del libro y el id del usuario que lo solicita 
 al servidor para registrar el prestamo
-->
<div class="Crear">
  <h2>Prestamo:</h2>
  <form action="/prestamo" method="POST">
    <input name="codigoLibro" placeholder="Código del libro" required />
    <input name="idUsuario" placeholder="ID del usuario" required />
    <button type="submit">Prestar</button>
  </form>
</div>
