<!-- Crear libro -->
<!-- Se envia una solicitud POST con los campos de
 codigo, titulo y autor al servidor para registrar un nuevo libro. 
-->
<div class="mx-auto text-light">
  <h2>Registrar Libro:</h2>
  <form class="flex gap-3" action="/libros" method="POST">
    <input class="bg-light px-2 py-1 rounded-xs text-primary-dark" type="text" name="codigo" placeholder="Codigo" required />
    <input class="bg-light px-2 py-1 rounded-xs text-primary-dark" type="text" name="titulo" placeholder="Titulo" required />
    <input class="bg-light px-2 py-1 rounded-xs text-primary-dark" type="text" name="autor" placeholder="Autor" required />
    <button class="bg-light text-primary-dark py-1 px-2 rounded-md hover:bg-bg-dark hover:text-light border cursor-pointer" type="submit">Registrar</button>
  </form>
</div>
