<!-- Crear usuario -->
<!-- Se envia una solicitud POST con los campos 
codigoLibro y idUsuario al servidor para registrar la devolución de un libro. -->
<div class="Crear">
  <h2>Devolución:</h2>
  <form action="/devolucion" method="POST">
    <input name="codigoLibro" placeholder="Código del libro" required />
    <input name="idUsuario" placeholder="ID del usuario" required />
    <button type="submit">Devolver</button>
  </form>
</div>
