<!-- Listado de libros -->
<div class="flex flex-col gap-2 px-3">
  <h3 class="text-light font-bold">Listado de libros:</h3>
  <ul class="flex flex-col gap-2 list-group list-group-flush">
    <!-- Se recibe libros como parametro -->
    <!-- Se recorre la lista de libros y se retorna './libros-item.ejs' -->
    <% libros.forEach(libro => { %>
      <%- include('./libros-item' ,{libro, prestamos}) %>
    <% }) %>
  </ul>
</div>