<!-- Barra de navegación -->
<header class="Navbar">
  <h1>Sistema de Librería</h1>
  <nav>
    <ul>
      <!-- Redirige a la pagina principal '/' -->
      <li><a href="/">Inicio</a></li>
      <!-- Redirige a la pagina de libros '/libros' -->
      <li><a href="/libros">Libros</a></li>
      <!-- Redirige a la pagina de usuarios '/usuarios' -->
      <li><a href="/usuarios">Usuarios</a></li>
    </ul>
  </nav>
</header>